Repository kundu9588/college-erp, changes with the owners that CODEOWNERS names for each.
All owners: @YOUR-USERNAME, @backend-team-lead, @auth-developer, @student-module-dev, @frontend-team-lead, @ui-developer, @tech-writer

CODEOWNERS:

# Global owners
* @YOUR-USERNAME

# Backend code
/backend/ @backend-team-lead
/backend/auth/ @auth-developer
/backend/student/ @student-module-dev

# Frontend code  
/frontend/ @frontend-team-lead
/frontend/src/components/ @ui-developer

# Documentation
/docs/ @tech-writer
README.md @YOUR-USERNAME

login added
  docs/setup.md
  scripts/start_branch.bat
  scripts/start_feature.bat
  scripts/sync_main.ps1
Owners: @tech-writer, @YOUR-USERNAME

dfg
  docs/setup.md
Owners: @tech-writer

dfg
  scripts/commit_push.bat
Owners: @YOUR-USERNAME

dfgdfg
  scripts/quick_workflow.bat
Owners: @YOUR-USERNAME

freshcode
  backend/server.js
  docs/git.md
  docs/plan.md
  docs/setup.md
Owners: @backend-team-lead, @tech-writer

try
  README.md
  udit.txt
Owners: @YOUR-USERNAME

created frontend folder struture
  docs/code_structure.md
  frontend/README.md
  frontend/src/app/routes.tsx
  frontend/src/app/store.tsx
Owners: @tech-writer, @YOUR-USERNAME, @frontend-team-lead

git updated Scripts
  scripts/cleanup_branches.bat
  scripts/commit_push.bat
  scripts/create_pr.bat
  scripts/emergency_switch.bat
  scripts/git_check_clean.bat
  scripts/git_force_delete_branch.bat
  scripts/git_status.bat
  scripts/quick_workflow.bat
  scripts/start_branch.bat
  scripts/start_feature.bat
  scripts/sync_main.bat
  scripts/sync_main.ps1
Owners: @YOUR-USERNAME

frontend Updations
  backend/server.js
  docs/code_structure.md
  docs/git.md
  docs/plan.md
  docs/setup.md
  frontend/README.md
  frontend/src/app/routes.tsx
  frontend/src/app/store.tsx
  scripts/cleanup_branches.bat
  scripts/commit_push.bat
  scripts/create_pr.bat
  scripts/emergency_switch.bat
  scripts/git_check_clean.bat
  scripts/git_force_delete_branch.bat
  scripts/git_status.bat
  scripts/quick_workflow.bat
  scripts/start_branch.bat
  scripts/start_feature.bat
  scripts/sync_main.bat
  scripts/sync_main.ps1
Owners: @backend-team-lead, @tech-writer, @YOUR-USERNAME, @frontend-team-lead

frontend sign in and signup pages ready
  frontend/package-lock.json
  frontend/package.json
  frontend/public/assets/images/auth/auth-img.png
  frontend/public/assets/images/auth/auth-img1.png
  frontend/src/Componets/SignUpLayer.jsx
  frontend/src/app/layout.js
  frontend/src/app/sign-up/page.jsx
  frontend/src/features/auth/authAPI.js
  frontend/src/features/auth/authSlice.js
  frontend/src/masterLayout/MasterLayout.jsx
  frontend/src/store/index.js
  frontend/src/store/rootReducer.js
  frontend/tsconfig.json
  themes.md
Owners: @frontend-team-lead, @YOUR-USERNAME

frontend sign in and signup pages ready with store
  frontend/src/app/Providers.jsx
  frontend/src/app/hooks/useApiError.js
  frontend/src/app/layout.js
  frontend/src/app/store.tsx
  frontend/src/features/auth/actions.js
  frontend/src/features/auth/apiClient.js
  frontend/src/features/auth/authAPI.js
  frontend/src/features/auth/authSlice.js
  frontend/src/features/auth/clients.js
  frontend/src/features/auth/reducer.js
  frontend/src/features/auth/selectors.js
  frontend/src/features/auth/services.js
  frontend/src/masterLayout/MasterLayout.jsx
  frontend/src/store/index.js
  frontend/src/store/rootReducer.js
  frontend/src/store/store.js
Owners: @frontend-team-lead

frontend sign in and signup pages ready with store
  frontend/README.md
  frontend/next.config.js
  frontend/public/assets/images/auth/LOGO WITH BLUE BG.png
  frontend/public/assets/images/auth/poster 2.webp
  frontend/public/assets/images/auth/poster image.jpg
  frontend/public/assets/images/auth/poster.jpeg
  frontend/src/Componets/SignInLayer.jsx
  frontend/src/Componets/SignInLayer.tsx
  frontend/src/app/New/page.jsx
  frontend/src/app/Providers.jsx
  frontend/src/app/dashboard/page.jsx
  frontend/src/app/hooks/useApiError.js
  frontend/src/app/layout.js
  frontend/src/app/layout.tsx
  frontend/src/app/routes.tsx
  frontend/src/features/auth/actions.js
  frontend/src/features/auth/actions.ts
  frontend/src/features/auth/apiClient.js
  frontend/src/features/auth/clients.js
  frontend/src/features/auth/model.ts
  frontend/src/features/auth/reducer.js
  frontend/src/features/auth/reducers.ts
  frontend/src/features/auth/selectors.js
  frontend/src/features/auth/services.js
  frontend/src/features/auth/services.ts
  frontend/src/features/auth/slice.ts
  frontend/src/hooks/useApiError.tsx
  frontend/src/store/Providers.tsx
  frontend/src/store/rootReducer.js
  frontend/src/store/store.js
  frontend/src/store/store.ts
  frontend/src/utils/apiClient.ts
  frontend/src/utils/storage.ts
  frontend/tsconfig.json
Owners: @YOUR-USERNAME, @frontend-team-lead

frontend sign in and signup pages ready with store
  Next Js/src/helper/PluginInit.js
  frontend/public/assets/css/lib/editor-katex.min.css
  frontend/public/assets/fonts/KaTeX_AMS-Regular.ttf
  frontend/src/Componets/SignInLayer.tsx
  frontend/src/app/SuperAdmin/Dashboard/page.tsx
  frontend/src/app/dashboard/page.jsx
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/features/auth/actions.ts
  frontend/src/features/auth/model.ts
  frontend/src/features/auth/reducers.ts
  frontend/src/features/auth/services.ts
  frontend/src/features/auth/slice.ts
  frontend/src/helper/Animation.jsx
  frontend/src/helper/PluginInit.js
  frontend/src/helper/RouteScrollToTop.jsx
  frontend/src/helper/SortableTask.js
  frontend/src/helper/ThemeToggleButton copy.jsx
  frontend/src/helper/ThemeToggleButton.jsx
  frontend/src/masterLayout/MasterLayout.jsx
  frontend/src/store/hooks.ts
  frontend/src/utils/apiClient.ts
Owners: @YOUR-USERNAME, @frontend-team-lead
